<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.example.blue_book.ui.mine.MineActivity"
            android:launchMode="singleTask"
            android:exported="false" />

        <activity
            android:name="com.example.blue_book.ui.author.AuthorProfileActivity"
            android:exported="false" />

        <activity
            android:name="com.example.blue_book.ui.followlist.FollowListActivity"
            android:exported="false" />
    </application>
</manifest>
