<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 本地流定位（仅取城市，粗略定位即可） -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity
            android:name="com.example.blue_book.ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:exported="false" />
    </application>
</manifest>
